<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JOffice -->
      <package
            uri="http://joffice/1.0"
            class="org.eclipse.rcpl.model_1_0_0.joffice.JofficePackage"
            genModel="model/JOffice.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JOffice_cdo -->
      <package
            uri="http://joffice/1.0"
            class="org.eclipse.rcpl.model_1_0_0.jo.JoPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JOffice_cdo -->
      <package
            uri="http://joffice.sadm/1.0"
            class="org.eclipse.rcpl.model_1_0_0.jo.sd.SdPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rcpl_cdo -->
      <package
            uri="http://rcpl/1.0"
            class="org.eclipse.rcpl.model_2_0_0.rcpl.RcplPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jo_cdo -->
      <package
            uri="http://www.eclipse.org/emf/CDO/security/4.1.0"
            class="org.eclipse.emf.cdo.security.SecurityPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jo_cdo -->
      <package
            uri="http://www.eclipse.org/emf/CDO/Etypes/4.0.0"
            class="org.eclipse.emf.cdo.etypes.EtypesPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jo_cdo -->
      <package
            uri="http://www.eclipse.org/emf/CDO/expressions/4.3.0"
            class="org.eclipse.emf.cdo.expressions.ExpressionsPackage"
            genModel="model/rcpl_cdo.genmodel"/>
   </extension>

</plugin>
