<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) 2018 World Resource Systems, Ramin Assisi
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated worldreservesystem -->
      <package
            uri="http://org.worldreservesystem"
            class="worldreservesystem.WorldreservesystemPackage"/>
   </extension>

</plugin>
