


#loginHeader {
       -fx-fill: linear-gradient(#ffd65b, #e68400),
                linear-gradient(#ffea6a, #efaa22),
                linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
                linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
        -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 10 );
 }
 
 #loginHeaderText {
	 -fx-fill:  linear-gradient(orange , orangered);
}
 
#loginGridPane {
	 -fx-background-color:  linear-gradient(lightgray, gray);
	 -fx-border-color: white;
	 -fx-border-radius: 20;
	 -fx-padding: 10 10 10 10;
	 -fx-background-radius: 20;
	  
}
	 
#loginBorderPane {
	 -fx-background-color:  linear-gradient(gray,DimGrey );
	  
}
	 
#buttonLogin {
	    -fx-background-radius: 30, 30, 29, 28;
	    -fx-padding: 3px 10px 3px 10px;
	    -fx-background-color: linear-gradient(orange, orangered );
}
	
#buttonRegister {
	    -fx-background-radius: 30, 30, 29, 28;
	    -fx-padding: 3px 10px 3px 10px;
	    -fx-background-color: linear-gradient(orange, orangered );
} 

#loginLabel {
	
}

#loginTextField {
	
}

