<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wrs -->
      <package
            uri="http://wrs/1.0"
            class="org.wrs.model.wrs.WrsPackage"
            genModel="model/wrs.genmodel"/>
   </extension>

</plugin>
